.navbar{
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 20px;
    width:500px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-button{
    font-family: 'Roboto Slab';
    color: rgb(247, 230, 230);
    opacity: 90%;
    margin-right: 20px ;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    display: inline;
    text-align: center;
    background-color: transparent;
    border-radius: 30%;
}

.nav-button:hover{
    transform: scale(1.10);
}

.b1{
    left: auto;
}